<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Enter Query</title>
	<style type="text/css">
		form { 
		margin: 0 auto; 
		width:250px;
	}
	parent {
		display: table;
		width: 100%;
	}
	form_login {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
	body {
		 font-family: sans-serif;
		background-color: rgba(255,250,240,1);
	}
	.container {width:960px;
      margin:0 auto;
      padding:40px 25px;
      border:50 solid #ccc;
      background: rgba(255,160,122,0.5); }
	</style>
	<div style="text-align:center"> 
	<h1>Stack Exchange Tag Recommendation</h1>
	</div>
</head>

<body>
<br></br>
<br></br>
<br></br>
<br></br>
<div class="container" style="text-align:center" id="parent">
<form method="POST" id ="form_query">
	<h2>Search for a Tag</h2>
	<input  name="tag" >
	<input  type="submit" class="btn-outline-info">
</form>
<br></br>
</div>
</body>
</html>

