{% extends 'base.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block head %}
<title>Posts</title> 
<style type="text/css">
body {
    font-family: sans-serif;
	background-color: rgba(255,255,240,1);
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.container1 {width:960px;
      margin:0 auto;
      padding:10px 25px;
      border:9px solid #CD5C5C;
      background: rgba(255,255,240,1); }
#rounded {
            border-radius: 25px;
            background: rgba(128,0,0,0.9);
            padding: 20px;
            width: 100px;
            height: 100px;
         }
.container2 {width:900px;
      margin:0 auto;
      padding:10px 25px;
      border:9px solid #CD5C5C;
      background: rgba(255,255,240,1); }
</style>
{% endblock %}

{% block body %}
<div class ="container1" style="text-align:center" >
<h1> Related Tags </h1>
		<div class ="container2" width="150">
		<table class="center" style="border:2px solid black">
		{% for neighbour in neighbours %}
		 <tr style="border:1px solid black">
			<td style="height:20px;width:1000px;border:1px solid black" class="center"><h3>{{neighbour[0]}}<h3></td>
		 </tr>
		 {% endfor %}
		 </table>
		</div>
</div>
{% endblock %}